<tr class="d-flex">
  <td class="col-sm-4"><%= player.first_name.capitalize %> <%= player.last_name.nil? ? '' : player.last_name.capitalize %> </td>
  <td class="col-sm'2"><%= player.points %></td>
</tr>
