<tr class="d-flex">
  <td class="col-6"><%= link_to "#{user.first_name.capitalize} #{user.last_name || ''}", player_path(user.id) %></td>
  <td class="col-3"><%= (user_counter + 1).ordinalize %></td>
  <td class="col-3"><%= user.points %></td>
</tr>
