<div class="table-responsive-sm">
  <table id="players" class="table table-sm table-hover">
    <thead>
      <tr class="d-flex">
        <th class="col-sm-4">Player</th>
        <th class="col-sm-2">Total Points</th>
      </tr>
    </thead>
    <tbody>
      <% @players.each do |player| %>
        <% cache(player) do %>
          <%= render 'player', player: player %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
