<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tournament</th>
        <th scope="col">Date</th>
        <th scope="col">Place</th>
        <th scope="col">Points Earned</th>
      </tr>
    </thead>
    <tbody>
    </tboday>
  </table>
</div>
