<div class="d-flex flex-column">
  <div class="col-md-8 mr-auto ml-auto">
    <div class="card card-body bg-info text-white mb-3">
      <div class="text-center">
        <h1 class="display-4 text-center"><%= @user.first_name %> <%= @user.last_name %></h1>
        <div class="d-flex justify-content-around">
          <span><%= link_to "Edit Profile", edit_player_path(@user), class: "text-dark" %></span>
          <span><%= link_to "Change password", edit_password_path(@user), class: "text-dark" %></span>
        </div>
      </div>
    </div>
  </div>
  <h2>Past tournaments</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tournament</th>
        <th scope="col">Date</th>
        <th scope="col">Place</th>
        <th scope="col">Points Earned</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
