<% if @tournament.tournament_type == 'kob' || @tournament.tournament_type == 'kob/team' %>
  <% if @tournament.teams.empty? %>
    <tr>
      <td colspan="4">No Players added yet</td>
    </tr>
  <% else %>
    <% cache(team) do %>
      <tr>
        <td class="rank"><%= team_counter + 1 %></td>
        <td class="player"><%= link_to team.team_name, player_path(team.user_id) %></td>
        <td class="points"><%= team.total_points %></td>
        <% if @user && @user.admin? && @tournament.registration_open && !@tournament.closed %>
          <td class="action">
            <%= link_to delete_team_path(@tournament, team_id: team.id), method: "delete", remote: true do %>
              <i class="fa fa-trash fa-2x text-danger" ></i>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
<% else %>
  <tr>
    <td colspan="4">No Teams added yet</td>
  </tr>
<% end %>
