<div id="landing">
  <div class="links-wrapper">
      <button>
        <%= link_to "Enter as Guest", tournaments_path, class: "guest-link" %>
      </button>
      <button>
      <%= link_to "Log in", new_session_path, class: "login-link" %>
      </button>
  </div>
  <small>Contact Admin for Signing up</small>

</div>
