  <h3>Court 1</h3>
  <table class="pool table">
    <thead>
      <tr class="row">
        <th scope="col">Games</th>
        <th scope="col">score</th>
        <th scope="col">Winner(Diff)</th>
        <th scope="col">Loser(Diff)</th>
      </tr>
    </thead>
    <tbody>
      <tr class="row">
        <td>Paul/Abigail vs Mac/Nani</td>
        <td>21-18</td>
        <td>Paul/Abigail (+3)</td>
        <td>Mac/Nani (-3)</td>
      </tr>
      <tr class="row">
        <td>Paul/Mac vs Abigail/Nani</td>
        <td><%= link_to "Results", "#", class: "btn btn-primary btn-md" %></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="row">
        <td>Paul/Nami vs Abigail/Mac</td>
        <td class=""><%= link_to "Results", "#", class: "btn btn-primary btn-md" %></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
