<% if object.errors.any? %>
    <div class="alert alert-danger col-12">
      <h5>Fix the following <%= pluralize(object.errors.count, "error") %>:</h5>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
