@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
body {
  font-size: 14px;
  font-family: sans-serif;
  height: 100vh;
}

a {
    text-decoration: none !important;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.action_button {
  margin-bottom: 20px;
}
.score_input {
  width: 100px;
}

.modal-content {
  max-width: 400px;
}

#modal_button {
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.player_rank {
  margin: 5px 0;
  padding: 5px;
  .rank {
    margin-right: 5px;
  }
  .team_name {
    display: inline-block;
    width: 50px;
  }
  .diff {
    text-align: right;
  }
}

#players {
  max-width: 600px;
}

/*****  Navbar ******/
.nav > li > span {
  position: relative;
  display: block;
  padding: 15px 15px;
  color: #777;
}



/******* New Tournament Form ********/

.form_container {
  display: flex;
  max-width: 800px;
  margin: 50px auto;
  justify-content: center;
  border: 2px solid dodgerblue;
  border-radius: 5px;
}
.form_layout {
  display: flex;
  flex-direction: column;
  flex-basis: 500px;
}
.form_table {
  display: flex;
  padding: 20px;
}

.form_label {
  flex-basis: 20%;
}

.form_input {
  flex-basis: 80%;
  width: 100%;
}

.form_input input {
  width: 100%;
}

.form_radio {
  margin-right: 20px;
}

.form_button {
  margin-right: 10px;
}

/******  Tournament Listings *******/
table {
  margin-left: 10px;
}

tr {
  height: 50px;
}

tbody tr:hover {
  background-color: #e7e7e7;
}

td a {
  text-decoration: none;
}

.action-row {
  display: flex;
}

#delete {
  color: #e17e8e;
  opacity: .8;

}

#delete:hover {
  opacity: 1;
}

/**********  Show Tournament *********/
.tournament-play-links {
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    margin: 10px;

  }
}

/************  Sign up form ************/
#signup_form {
  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
  }

  input {
    height: auto !important;
  }

  .field_with_errors {
    input {
      border-color: red;
    }
  }

}


.signup_container {
  max-width: 500px;
  margin: 0 auto;
}

.form_row {
  display: flex;
  flex-basis: 500px;
  flex-wrap: wrap;
}

.signup_form {
  display: flex;
}

.field {
  padding: 10px;
  flex: 1;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
}

.name {
  width: 50%;
}

.name:first {
  margin-right: 1%;
}

.field_with_errors {
  width: 100%;
}

// @media (max-width = 400) {
//   .modal-content {
//
//   }
// }
