// @import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.field_with_errors {
  display: inline-table !important;
}
html {
  height: 100%;
  width: 100%;
}
body {
  font-size: 14px;
  font-family: sans-serif;
  margin: 0 !important;
  padding: 0;
  width: 100%;
}

#App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

#app-content {
  flex: 1 auto;
}

#container {
  min-height: 100%;
  position: relative;
}

#main {
  flex: 1 auto;
  // padding-top: 30px;
  // height: calc(100% - 100px);
  overflow: hidden;
}

#main-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.alert {
  position: absolute;
  width: 100%;
  margin: 0 0 0 -15px;
  z-index: 50;
}

a {
  text-decoration: none !important;
}

#temp_pool_location {
  li {
    padding-left: 10px;
  }
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.action_button {
  margin-bottom: 20px;
}
.score_input {
  width: 100px;
}

.modal-content {
  max-width: 400px;
}

.modal-header {
  justify-content: flex-start !important;
  border-bottom: none;
}

#players-list-table {
  max-width: 500px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.player_rank {
  margin: 5px 0;
  padding: 5px;
  .rank {
    margin-right: 5px;
  }
  .team_name {
    display: inline-block;
    width: 50px;
  }
  .diff {
    text-align: right;
  }
}

#players {
  max-width: 600px;
}

#footer {
  width: 100%;
  height: 50px;
  background-color: #343a40;
  border: 1px solid #e7e7e7;
  color: white;
  text-align: center;
}

/*****  Navbar ******/
.navbar {
  height: 50px;
  position: relative;
}
.navbar-toggler {
  padding: 0.25em 0.5em !important;
  color: #fff !important;
  border-color: #fff !important;
}

.nav-item {
  color: #fff !important;
  // align-self: center;
}

@media screen and (max-width: 575px) {
  #navbarContent {
    position: absolute;
    right: 0;
    top: 50px;
    padding: 0.5em 1em;
    background: #343a40;
    width: 100%;
    z-index: 30;
    .navbar-nav {
      align-items: flex-end;
    }
  }
}

// .fa.fa-navicon {
//   color:white;
// }
/******* New Tournament Form ********/

.form_container {
  max-width: 500px;
  margin: 25px auto;
  padding: 3em 5em;
  // margin: 50px auto;
  // justify-content: center;
  border: 2px solid #343a40;
  border-radius: 20px;
}

.auth {
  // width: 500px;
  padding: 3em 1em;
  margin: 25px auto;
}

.form_layout {
  display: flex;
  flex-direction: column;
  flex-basis: 500px;
}
.form_table {
  display: flex;
  padding: 20px;
}

.form_label {
  flex-basis: 20%;
}

.form_input {
  flex-basis: 80%;
  width: 100%;
}

.form_input input {
  width: 100%;
}

.form_radio {
  margin-right: 20px;
}

.form_button {
  margin-right: 10px;
}

/******  Tournament Listings *******/
.admin-create {
  height: 35px;
}
.table-responsive {
  border: none;
}

tr {
  height: 50px;
}

tbody tr:hover {
  background-color: #e7e7e7;
}

td {
  text-align: left;
}

.action-row {
  display: flex;
  justify-content: center;
}

#delete {
  color: #e17e8e;
  opacity: 0.8;
}

#delete:hover {
  opacity: 1;
}

// Table fields
.tourn-field {
  width: 30%;
  overflow-y: scroll;
}
.player {
  width: 40%;
  text-align: center;
}

.date,
.type,
.reg,
.action,
.place,
.results,
.points,
.rank {
  width: 20%;
  text-align: center;
}

/**********  Show Tournament *********/
.edit-tourn {
  font-size: 14px;
}

/************  Game Play    ************/
.scores {
  max-width: 600px;
}

.court-play {
  margin: 15px 0;
}

.court-title h3 {
  margin-right: 0.5em;
}

.court-title span {
  align-self: center;
}

.leaderboard-link {
  display: none;
}

.play-content {
  overflow-y: scroll;
}

.table-game {
  width: 30%;
}

.table-score {
  width: 15%;
}

.table-outcome {
  width: 25%;
}

#non_modal_leaderboard {
  table {
    width: 100%;
    thead {
      height: 35px;
      tr {
        width: 100%;
        border-bottom: 1px solid #dee2e6;
      }
    }
    tbody {
      td {
        text-align: center;
      }
    }
  }
  tr {
    height: 20px;
  }

  td,
  th {
    padding: 0.5rem;
  }
}

.place,
.record,
.diff {
  width: 20%;
}
.player {
  width: 40%;
  text-align: center;
}

/************  Sign up form ************/
#signup_form {
  input,
  textarea,
  select,
  .uneditable-input {
    border: 1px solid #bbb;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
  }

  input {
    height: auto !important;
  }

  .field_with_errors {
    input {
      border-color: red;
    }
  }
}

.signup_container {
  max-width: 500px;
  margin: 0 auto;
}

.form_row {
  display: flex;
  flex-basis: 500px;
  flex-wrap: wrap;
}

.signup_form {
  display: flex;
}

.field {
  padding: 10px;
  flex: 1;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
}

.name {
  width: 50%;
}

.name:first {
  margin-right: 1%;
}

.field_with_errors {
  width: 100%;
}

@media only screen and (max-width: 850px) {
  #non_modal_leaderboard {
    display: none;
  }

  .leaderboard-link {
    display: block;
  }

  .table-responsive {
    flex: 0 0 100%;
    max-width: 100% !important;
  }
}

@media only screen and (max-width: 600px) {
  .form_container {
    padding: 3em 2em;
  }
}

@media only screen and (max-width: 380px) {
  .form_container {
    padding: 3em 1em;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }
}
