<div>
  <br />
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 class="modal-title" id="myModalLabel">Final Results</h3>
</div>

<div class="modal-body">
  <table class="table row">
    <thead>
      <tr>
        <th scope="col">Place</th>
        <th scope="col">Player</th>
        <th scope="col">Points Earned</th>
      </tr>
    </thead>
    <tbody>
    <% @winners.each_with_index do |team, i| %>
      <tr>
        <td><%=(i + 1).ordinalize %></td>
        <td><%= team.team_name %></td>
        <td><%= @points[i] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
